<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html">
    <title>Asociaciones Registradas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
<div class="container p-4">
    <center><h2 class="section__title text-white bold">Asociaciones Registrados</h2></center><br><br>
    <table class="table table-dark table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Pais</th>
            <th>Presidente</th>
            <th>Siglas</th>
            <th>Acciones</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="asociacion: ${listaAsociaciones}">
            <td th:text="${asociacion.id}"></td>
            <td th:text="${asociacion.nombre}"></td>
            <td th:text="${asociacion.pais}"></td>
            <td th:text="${asociacion.presidente}"></td>
            <td th:text="${asociacion.siglas}"></td>
            <td>
                <a class="btn btn-info btn-xs" th:href="@{'/asociaciones/editar/' + ${asociacion.id}}" th:text="'editar'"></a>
                &nbsp; &nbsp;
                <a class="btn btn-danger btn-xs" th:href="@{'/asociaciones/eliminar/' + ${asociacion.id}}" th:text="'eliminar'"></a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <div class="p-3"><br><a th:href="@{/formAsociaciones}" class="btn btn-outline-primary">Insertar Asociacion</a></div>
        <div class="p-3"><br><a th:href="@{/}" class="btn btn-outline-success">Inicio</a></div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>
